<div class="header-wrapper">
	<div class="twee-header center search-header" id="main-hdr">
		...
	</div>
	<div class="nearby-search" id="nearby-search"></div>
	<div class="save-search" id="save-search"></div>
</div>
<div class="nearby-wrapper" x-mojo-tap-highlight="momentary">
	<div class="nearby-row palm-row single">
		<div id="nearbyDistanceList" x-mojo-element="ListSelector"></div>
	</div>
</div>
<div type="list" id="search-view" class="sub-view">
	<div class="frame-wrapper">
		<div class="frame-title">Search Results</div>
		<div class="tweet-list list quiet"></div>
	</div>
	<div class="load-more"></div>
	<div class="refresh-icon"></div>
</div>