<div class="header-wrapper">
	<div class="twee-header center" id="main-hdr">
		...
	</div>
	<div id="next-tweet" x-mojo-tap-highlight="momentary"></div>
	<div id="previous-tweet" x-mojo-tap-highlight="momentary"></div>
</div>
<div id="tweet-area"></div>
<div id="extra-area"></div>

<div class="control-grid-wrapper">
	<div class="control-grid three-grid" id="control-grid">
		<ul class="actions"><li class="action reply" x-mojo-tap-highlight="momentary">Reply</li><li class="action retweet" x-mojo-tap-highlight="momentary">Retweet</li><li class="action favorite" x-mojo-tap-highlight="momentary">Favorite</li><li class="action delete" x-mojo-tap-highlight="momentary">Delete</li></ul>
	</div>
</div>