<div class="frame-wrapper mini">
	<div class="frame-title">View</div>
	<div class="action-items">
		<div class="action-group">
			<div class="action-item left tweets" x-mojo-tap-highlight="momentary">#{tweets}<label>#{tweets_label}</label></div><div class="action-item right favorites" x-mojo-tap-highlight="momentary">#{favorites}<label>#{favorites_label}</label></div>
		</div>
		<div class="action-group">
			<div class="action-item left friend" x-mojo-tap-highlight="momentary">#{friends}<label>#{friends_label}</label></div><div class="action-item right followers" x-mojo-tap-highlight="momentary">#{followers}<label>#{followers_label}</label></div>
		</div>
	</div>
</div>