<div class="header-wrapper">
	<div class="twee-header center" id="main-hdr">
		...
	</div>
</div>
<div id="user-area"></div>
<div id="user-following" x-mojo-tap-highlight="momentary"></div>
<div id="user-more"></div>

<div class="control-grid-wrapper">
	<div class="control-grid" id="control-grid">
		<ul class="actions"><li class="action reply" x-mojo-tap-highlight="momentary">Reply</li><li class="action message" x-mojo-tap-highlight="momentary">Message</li><li class="action follow" x-mojo-tap-highlight="momentary">Follow</li><li class="action toggle" x-mojo-tap-highlight="momentary"><div class="toggle-bg"></div><span class="more">More</span><span class="less">Less</span></li><li class="action search" x-mojo-tap-highlight="momentary">Search</li><li class="action block" x-mojo-tap-highlight="momentary">Block</li><li class="action report" x-mojo-tap-highlight="momentary">Report</li></ul>
	</div>
</div>