<div class="header-wrapper">
	<div class="twee-header center" id="main-hdr">
		Add Account
	</div>
</div>

<div class="input-group" id="input-group">
	<div class="input-row" x-mojo-focus-highlight="true">
		<label class="input-hint" for="username">Username</label>
		<div x-mojo-element="TextField" id="username" class="input-text" name="username"></div>
	</div>
	<div class="input-row" x-mojo-focus-highlight="true">
		<label class="input-hint" for="password">Password</label>
		<div x-mojo-element="PasswordField" id="password" class="input-text" name="password"></div>
	</div>
</div>

<div x-mojo-element="Button" id="loginButton" class="tweeButton" name="loginButton"></div>

<div x-mojo-element="Button" id="noAccountButton" class="buttonClass" name="noAccountButton"></div>