<div class="header-wrapper">
	<div class="twee-header center" id="main-hdr">
		Preferences
	</div>
</div>


<div class="frame-wrapper">
	<div class="frame-title">Generic Preferences</div>
	<div class="list">
		<div class="list-item palm-row">
			<div id="fontSizeSelector" x-mojo-element="ListSelector"></div>
		</div>
		<div class="list-item palm-row">
			<div id="photoProviderSelector" x-mojo-element="ListSelector"></div>
		</div>
		<div class="list-item palm-row">
			<div id="rotationToggle" x-mojo-element="ToggleButton"></div>
			<div class="title">Screen Rotation</div>
		</div>
		<div class="list-item palm-row">
			<div id="autoLocationToggle" x-mojo-element="ToggleButton"></div>
			<div class="title">Auto-Geotagging</div>
		</div>
	</div>
</div>

<div class="frame-wrapper">
	<div class="frame-title">Notifications Preferences</div>
	<div class="list">
		<div class="list-item palm-row">
			<div id="notificationsEnabled" x-mojo-element="ToggleButton" ></div>
			<div class="title">Notifications</div>
		</div>
		<div id="notifications-group">
			<div class="list-item palm-row">
				<div id="notificationsInterval" x-mojo-element="ListSelector"></div>
			</div>
			<div class="list-item palm-row">
				<div id="notificationsSound" x-mojo-element="ToggleButton"></div>
				<div class="title">Alert Sound</div>
			</div>
			<div class="list-item palm-row">
				<div id="notificationsVibrate" x-mojo-element="ToggleButton"></div>
				<div class="title">Alert Vibrate</div>
			</div>
			
			<div class="list-item palm-row">
				<div id="notificationsTimeline" x-mojo-element="ToggleButton"></div>
				<div class="title">Timeline</div>
			</div>
			<div class="list-item palm-row">
				<div id="notificationsMentions" x-mojo-element="ToggleButton"></div>
				<div class="title">Mentions</div>
			</div>
			<div class="list-item palm-row">
				<div id="notificationsMessages" x-mojo-element="ToggleButton"></div>
				<div class="title">Direct Messages</div>
			</div>
		</div>
	</div>
</div>