<div class="header-wrapper buttup">
	<div class="twee-header center" id="main-hdr">
		...
	</div>
</div>
<div x-mojo-element="TextField" id="tweetText" class="input-message" name="tweetText"></div>
<div class="char-bar">
	<div id="attached-media"></div>
	<div id="characters-left"></div>
</div>
<div x-mojo-element="Button" id="tweetButton" class="buttonClass" name="tweetButton"></div>
<div class="control-grid-wrapper">
	<div class="control-grid three-grid" id="control-grid">
		<ul class="actions"><li class="action media" x-mojo-tap-highlight="momentary">Media</li><li class="action shrink" x-mojo-tap-highlight="momentary">Shrink URL</li></ul>
	</div>
</div>